# ----------------------
# Flask
# ----------------------
flask


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn

#MUST USE
geopandas==0.8.1
Shapely==1.7.1
